@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header{
    width: 100%;
    height: 69px;
    background-color: red;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 37px;
    font-weight: 700;
    color: white;
}
.initial-layout{
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.with-quiz-created{
    margin-bottom: 38px;
}

.yourself-created-quizzes-title{
    display: flex;
    position: relative;
}
ion-icon{
    font-size: 30px;
    color: red;
}
.yourself-created-quizzes-title button{
    position: absolute;
    bottom: -9px;
    right: 0;
    border: none;
    background-color: #FAFAFA;
}

.initial-layout .without-quiz-created{
    position: relative;
    width: 340px;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 35px;
    display: none;
}
.initial-layout .without-quizz-message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 107px;
    top: 7;


    font-size: 20px;
    color: #B9B9B9;
    font-weight: 400;
    text-align: center;
}
.initial-layout .create-quizz{
    position: absolute;
    color: white;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    bottom: 33px;
}
.initial-layout button span{
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
}


.initial-layout .quizz-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}
.initial-layout h2{
    left: 0;
    font-weight: 700;
    font-size: 20px;

}
.initial-layout .quizz{
    width: 340px;
    height: 181px;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), black;
    border-radius: 5px;
    margin-top: 14px;
}
.initial-layout .quizz-container img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.initial-layout h3{
    font-size: 19px;
    color: white;
    overflow: hidden;

    position: absolute;
    width: 301px;
    left: 18px;
    bottom: 7px;
    
}
@media only screen and (min-width: 1100px) {
.initial-layout .quizz-container{
    width: 1051px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }
.yourself-created-quizzes{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    align-items: center;
    width: 1090px;
}
.yourself-created-quizzes div{
    margin-left: 15px;
}
h2{
    margin-left: 15px;
}
.with-quiz-created button{
    position: absolute;
    right: 885px;
}
.initial-layout .without-quiz-created{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1051px;
    height: 181px;
    top: 7;


    font-size: 20px;
    color: #B9B9B9;
    font-weight: 400;
    text-align: center;
    display: none;
}
.initial-layout .quizz{
}

}
/* ^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~ */ /* layout respondendo quizes */ /* ^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~ */

/* ^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~ */ /* layout forms */ /* ^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~ */