@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header{
    width: 100%;
    height: 69px;
    background-color: red;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 37px;
    font-weight: 700;
    color: white;
}
.initial-layout{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.initial-layout .without-quiz-created{
    position: relative;
    width: 340px;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 35px;
}
.initial-layout .without-quizz-message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 107px;
    top: 7;


    font-size: 20px;
    color: #B9B9B9;
    font-weight: 400;
    text-align: center;
}
.initial-layout .create-quizz{
    position: absolute;
    color: white;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    bottom: 33px;
}
.initial-layout button span{
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
}


.initial-layout main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}
.initial-layout h2{
    left: 0;
    font-weight: 700;
    font-size: 20px;

}
.initial-layout .quizz{
    width: 340px;
    height: 181px;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), black;
    border-radius: 5px;
    margin-top: 14px;
}
.initial-layout main img{
    width: 340px;
    height: 181px;
}

.initial-layout h3{
    font-size: 19px;
    color: white;
    overflow: hidden;

    position: absolute;
    width: 301px;
    left: 18px;
    bottom: 7px;
    
}
/* ^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~ */ /* layout respondendo quizes */ /* ^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~ */

/* ^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~ */ /* layout forms */ /* ^^^^^^^^^^^^^^^^~~~~~~~~~~~~~~~~~~~~ */

/* Background that cotains the initial questions */

.contains{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}

.form1-layout{
    /* left: 38vw; */
    /* display: flex;
    justify-content:center;
    align-self: center; */
}
.questions-box-initial {
    width: 375px;
    height: 256px;
    top: 89px;
    position: absolute;
    z-index: 2;
    padding: 22px 0;
    box-sizing: border-box;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
.questions-field{
    z-index: 1;
    width: 341px;
    height: 46px;
    left: 16px;
    top: 179px;

    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    align-items:center;
    text-align: center;
}
h2.form-initial-section{

    /* position: absolute; */
    /* top: 107px;
    left: 30vw; */

    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    Line height: 23.44px;

    margin-top: 37px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-button1{
    width: 324px;
    height: 54px;
    top: 374px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFF5F4;

    background: #EC362D;
    border-radius: 15px;

    position: absolute;
}